.sweet__container {
  grid-template-columns: repeat(2, max-content);
  gap: 1.5rem;
  justify-content: center;
}

.sweet__video {
  height: 550px;
  width: 100%;
  border-radius: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: var(--mb-1);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -6px;
}

@media screen and (max-width: 992px) {
  .sweet__video {
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 576px) {
  .sweet__video {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  /* .sweet__video {
    height: 350px;
    border-radius: 1.25rem;
    margin-bottom: var(--mb-0-25);
  } */
}
