.media__container {
  width: 750px;
  height: initial;
}

.media__card {
  background-color: var(--container-color);
  padding: 1.5rem 1rem;
  border-radius: 1.5rem;
  margin-bottom: var(--mb-2);
}

.media__img {
  width: initial;
  border-radius: 1rem;
}
.media__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.css-1v2lvtn-MuiPaginationItem-root {
  color: #ccc !important;
}

/* media questions */
@media screen and (max-width: 992px) {
  .media__container {
    width: initial;
  }
  .media__card {
    padding: 0.75rem;
  }
}
@media screen and (max-width: 768px) {
  .media__container {
    grid-template-columns: max-content;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 350px) {
}
